<% include ../partials/header %>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelp Camp</p>
            <!-- <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div> -->
        </div>
        <br>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%= campground.image %>">
                <div class="caption-full" style="padding: 15px;">
                    <h5 class="float-right">$<%= campground.price %></h5>
                    <h4><a href="#"><%= campground.name %></a></h4>
                    <p><%= campground.description %></p>
                    <br>
                    <p><em>--by <%= campground.author.username %></em></p>
                </div>
                <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                    <div class="col-6">
                        <a href="/campground/<%= campground._id %>/edit" class="btn btn-outline-info">EDIT</a>
                        <form action="/campground/<%= campground._id %>?_method=DELETE" method="POST" style="display: inline;">
                            <button class="btn btn-outline-danger">DELETE</button>
                        </form>
                    </div>
                <% } %>
            </div>
            <br>
            <div class="card bg-light">
                <div class="card-header">
                    <h4 style="display: inline;">Comment</h4>
                    <a class="btn btn-success float-right" href="/campground/<%= campground._id %>/comment/new">Add comment</a>
                </div>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="card-body">
                        <span class="float-right">10 days ago</span>
                        <p class="card-title"><strong><%= comment.author.username %></strong></p>
                        <p class="card-text"><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <form 
                            action="/campground/<%= campground._id %>/comment/<%= comment._id %>?_method=DELETE" 
                            method="POST">
                            <button class="btn btn-sm btn-danger float-right">
                                Delete
                            </button>
                        </form>
                        <a class="btn btn-sm btn-warning float-right" 
                            href="/campground/<%= campground._id %>/comment/<%= comment._id %>/edit">
                            Edit
                        </a>
                        <% } %>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>


<br><br><br>


<% include ../partials/footer %>